@import '../../styles/colors.scss';

$margin: 48px;

:host {
    display: flex;
    justify-content: center;

    .title-02 {
        margin-bottom: 8px;
    }

    .pokemon__section {
        display: flex;

        &.--column {
            flex-direction: column;
        }
        &.--spaced {
            margin-bottom: $margin;
        }
    }

    .pokemon__container {
        flex-basis: 700px;
        background-color: $white;
        margin-top: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        transition: 2s;
        border-radius: 5px;
    }

    .pokemon__info {
        flex: 1;
        padding: 24px;
    }

    .pokemon__title {
        justify-content: space-between;
        border-bottom: 1px solid $gainsboro;
        flex-wrap: wrap;

        .pokemon__title-name {
            text-transform: uppercase;
            font-weight: 100;
        }

        .pokemon__title-number {
            font-weight: 600;
        }
    }

    .pokemon__image {
        background-color: $pokemon-blue;
        border-radius: 5px;
        width: 150px;
        margin-right: 24px;
    }

    .pokemon__specs {
        display: grid;
        background-color: $pokemon-yellow;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        column-gap: 12px;
        flex: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 8px;

        .pokemon__specs-title {
            color: $white;
        }
    }

    .pokemon__evolution-item {
        background-color: $pokemon-blue;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        padding: 8px;
        flex-basis: 170px;
        text-align: center;
        margin: 6px;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
        }
    }
    .pokemon__evolution-item-container {
        justify-content: space-around;
        padding: 8px;
        border-radius: 5px;
        flex-wrap: wrap;
    }

    .pokemon__loading-container {
        justify-content: center;
        align-self: center;
    }
    .pokemon__type-name {
        flex-basis: 150px;
        padding: 10px;
        border-radius: 5px;
        color: $white;
        margin-right: 12px;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
    }

    .pokemon__evolution-item-info {
        justify-content: space-between;
    }
}
